.card-content {
    display: flex;
    justify-content: space-between;
}

.card-title {
    font-size: 24px;
    line-height: 40px;
}

.card-sub-title {
    font-size: 14px;
    color: #878787;
}

.card-image-container {
    height: 80px;
    width: 80px;
    padding-left: 16px;
}

.card-image {
    width: 80px;
}

.card-action-button-container {
    font-size: 14px;
    color: var(--primary);
    margin-top: 8px;
    padding: 10px 8px;
    display: inline-block;
}

.card-action-button {
    text-decoration: none;
}