.vakil-container {
    padding: 16px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.1);
    display: flex;
    text-align: left;
    background-color: white;
    margin-bottom: 8px;    
}

.image {
    height: 115px;
    width: 115px;
}

.info-container {
    font-size: 12px;
}

.lawyer-name {
    font-size: 16px;
    margin-bottom: 8px;
}

.vakil-name {
    padding-bottom: 16px;
}

.card-text {
    font-size: 14px;
    color: #878787;
}

.card-button-container {
    font-size: 14px;
    color: var(--primary);
    padding: 8px 8px;
    display: inline-block;
}